
.form-wrap {
    @extend .clearfix;
    position: relative;
    width: modScale(7) + rem;
    margin: 0 auto;
    padding: modScale(1) + em;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px rgba(0,0,0,0.07);
}

.input-group {
    padding: 0;
    margin: 0;
    margin-bottom: modScale(0) + em;
        > * {
            vertical-align: top;
        }
}

.input-group__label, .input-group__input {
    vertical-align: middle;
}

.input-group__label {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding: 0 modScale(1) + em;
    cursor: pointer;
}

.input-group__input {
    width: 70%;
}

.input-group__textarea {
    border: 1px solid lightgrey !important;
}

.input-group__input--radio {
    text-align: left;
    cursor: pointer;
}

.form__button {
    float: right;
}

.radioButton {
    cursor: pointer;
    background-color: $btnColor-main;
    display: inline-block;
    width: modScale(5) + rem;
    margin-right: 1rem;
        > input {
            display: none;
                &:checked ~ label {
                    background-color: lighten($btnColor-main, 30);
                }
        }
        > label {
            width: 100%;
            text-align: center;
            padding: 1rem;
            color: white;
        }
}