
$taskTextHeight: modScale(4) + em;


.task__list {
    padding: 1rem 0;
    margin: 0;
    list-style: none;
}

.task__item {
    $marginRight: modScale(1);
    position: relative;
    width: calc(25% - #{($marginRight - $marginRight / 4) + em});
    display: inline-block;
    font-size: 1rem;
    padding: modScale(1) + em;
    margin: 0 $marginRight + em modScale(0) + em 0;
    // border: 1px solid $baseColor;
    vertical-align: top;
    box-shadow: 0 0 1rem rgba(0,0,0,0.07);
        &:nth-of-type(4n+4) {
            margin-right: 0;
        }
}

.task__text {
    margin: 0 0 modScale(1) + rem;
    padding: 4px 0;
    padding-bottom: 2rem;
    line-height: 1.5;
    height: $taskTextHeight;
}

.task__complete-button {
    background-color: $darkBlue;
    transition: 0.2s;
        &:hover, &:focus {
            background-color: lighten($darkBlue, 15);
        }
        &:active {
            background-color: $lightBlue;
        }
}

.button--task {
    $buttonColor: #C9C9C9;
    font-size: modScale(1) + rem;
    position: absolute;
    right: 6px;
    cursor: pointer;
    user-select: none;
    color: $buttonColor;
    transition: 0.3s;
        &:hover, &:focus {
            color: darken($buttonColor, 20);
        }
}

.task__form-wrap {
    position: relative;
}

.task__submit {
    position: absolute;
    top: calc(#{$taskTextHeight} - #{modScale(-1) + rem});
    right: 0;
}

.complete-wrap {
    position: relative;
    /* left: - modScale(0) + em;*/
    bottom: - modScale(0) + em;
}

.closeX {
    top: -2px;
}

.edit {
    bottom: 2px;
}

.checkmark {
    color: $green;
    font-size: modScale(3) + rem;
    position: absolute;
    top: -0.5em;
    left: -0.17em;
}

.editForm__input {
    border: none;
    width: 100%;
}

.checkmark-leave {
    opacity: 1;
    transition: 1.3s;
}

.checkmark-leave.checkmark-leave-active {
    opacity: 0.01;
}

.checkmark-enter {
    opacity: 0.01;
    transition: 1.3s;
}

.checkmark-enter.checkmark-enter-active {
    opacity: 1;
}

.type-wrap {
    // width: 20rem;
}

.button-wrap {
    margin-bottom: modScale(1) + rem;
}