
.task__list {
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.task__item {
    position: relative;
    flex-basis: calc(25% - #{modScale(-1) * 2 + em});
    display: inline-block;
    font-size: 1rem;
    padding: modScale(1) + em;
    margin: modScale(1) + em modScale(-1) + em;
    border: 1px solid $baseColor;
    width: modScale(6) + rem;
    vertical-align: top;
}

.button--task {
    font-size: modScale(1) + rem;
    position: absolute;
    right: 6px;
    cursor: pointer;
}

.closeX {
    top: -2px;
}

.edit {
    bottom: 2px;
}