
.task__list {
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task__item {
    position: relative;
    -ms-flex-preferred-size: calc(25% - #{modScale(0) + em});
        flex-basis: calc(25% - #{modScale(0) + em});
    display: inline-block;
    font-size: 1rem;
    padding: modScale(1) + em;
    margin: 0 modScale(0) + em modScale(0) + em 0;
    border: 1px solid $baseColor;
    width: modScale(6) + rem;
    vertical-align: top;
        &:nth-of-type(4n+4) {
            margin-right: 0;
        }
}

.task__text {
    margin: 0 0 modScale(1) + rem;
    padding: 4px 0;
}

.task__complete-button {
    background-color: $darkBlue;
    transition: 0.2s;
        &:hover, &:focus {
            background-color: lighten($darkBlue, 15);
        }
        &:active {
            background-color: $lightBlue;
        }
}

.button--task {
    font-size: modScale(1) + rem;
    position: absolute;
    right: 6px;
    cursor: pointer;
    user-select: none;
}

.complete-wrap {
    position: relative;
    /* left: - modScale(0) + em;*/
    bottom: - modScale(0) + em;
}

.closeX {
    top: -2px;
}

.edit {
    bottom: 2px;
}

.checkmark {
    color: $green;
    font-size: modScale(3) + rem;
    position: absolute;
    top: -0.5em;
    left: -0.17em;
}

.editForm__input {
    border: none;
    width: 100%;
}

.checkmark-leave {
    opacity: 1;
    transition: 1.3s;
}

.checkmark-leave.checkmark-leave-active {
    opacity: 0.01;
}

.checkmark-enter {
    opacity: 0.01;
    transition: 1.3s;
}

.checkmark-enter.checkmark-enter-active {
    opacity: 1;
}